body {
    background: #F9F6F0;
    margin: 0;
    padding: 0;
  }

.background-image {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(/waves.jpg);;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.opener {
    padding: 5rem;
    padding-top: 80px;
    float: left;
    display: block;
}

.opener h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 40px;
    padding-bottom: 80px;
}

.opener h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 70px;
    color: black;
    text-transform: capitalize;
    line-height: 58px;
}

.opener h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin-right: auto;
}

.right_side img {
    border-radius: 100%;
    width: 30%;
    justify-content: center;
    padding: 20px;
    margin-top: 220px;
}

.footer {
    background: #0d1931;
    height: auto;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-top: auto;
}

.footer li {
    color: white;
    float: left;
    list-style-type: none;
    width: 10%;
    text-align: center;
    width: 60px;
    height: 30px;
}

.footer img {
    filter: saturate(40%) opacity(60%);
}