body {
    background: #F9F6F0;
  }

.opener {
    padding: 5rem;
    padding-top: 80px;
    float: left;
}

.opener h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px;
    font-size: 40px;
    padding-bottom: 80px;
}

.opener h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 70px;
    color: black;
    text-transform: capitalize;
    line-height: 58px;
}

.opener h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.right_side {
    background-color: #D7E3FA;
    float: right;
}

.right_side img {
    right: 0;
    border-radius: 90% / 90%;
    margin: 10px 20px 20px;
    width: 440px;
    height: 500px;
}

.footer {
    background: #0d1931;
    height: auto;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.footer li {
    color: white;
    float: left;
    list-style-type: none;
    width: 10%;
    text-align: center;
    width: 60px;
    height: 50px;
}

.footer img {
    filter: saturate(40%) opacity(60%);
}